.Posts{
  display: grid;
  justify-content: center;
  /* background-color: #323335; */
}

.PostCard{
  background-color: #fff;
  border: 1px solid #325289;
  padding: 10px;
  margin: 10px;
  text-align: center;
}
.PostCard2{
  background-color: #fff;
  border: 1px solid #325289;
  padding: 10px;
  margin: 10px;
  text-align: center;
}